body {
  background-color: black;
  padding: 5% 5% 5% 5%;
  margin: 0; }

img#logo {
  background-color: white;
  background-image: url("images/flogo.png");
  background-size: cover;
  width: 150px;
  height: 80px;
  margin-left: 5%; }

img#search {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: fixed;
  background-image: url("images/srh_icon.png");
  border-image: .1;
  margin: 0 0 33px 70px; }

label#tera {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin-left: 20px;
  vertical-align: 50px;
  opacity: .3; }

a.navs {
  color: white;
  vertical-align: top;
  text-decoration: none;
  opacity: .6;
  padding-left: 70px;
  vertical-align: 40px; }

a#sports {
  margin-left: 40%; }

hr {
  margin-top: -1%;
  opacity: .3;
  width: 80%;
  margin-left: 15%; }

.slides {
  padding: 0;
  width: 650px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative; }

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.slides input {
  display: none; }

.slide-container {
  display: block; }

.slide {
  top: 0;
  opacity: 1;
  width: 650px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
  margin-left: 20%; }

.slide img {
  width: 1040px;
  height: 563px;
  margin-left: -40%;
  margin-top: 5%; }

img {
  border: none;
  outline: none;
  -webkit-border-image: none; }

.slide img#img1, .slide img#img2, .slide img#img3 {
  background-size: 100%;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  -webkit-border-image: none; }

.slide img#img1, .slide img#img2, .slide img#img3 {
  background-image: url("images/img1.png"); }

.slide img#img2 {
  background-image: url("images/img2.png"); }

.slide img#img3 {
  background-image: url("images/img3.png"); }

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 1;
  z-index: 9;
  cursor: pointer;
  transition: .2s;
  color: white;
  font-size: 48px;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  margin-left: -600px; }

.slide:hover + .nav label {
  opacity: 1; }

.nav label:hover {
  opacity: 1; }

.nav .next {
  right: -205px; }

.nav .prev {
  right: 700px; }

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out; }

input:checked + .slide-container .nav label {
  display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center; }

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 25% 0 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: lightgray;
  opacity: .5; }

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: red; }

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
  background: white;
  opacity: 1; }

label.prev, label.next {
  margin-left: -10%;
  margin-top: 7%;
  text-align: left; }

label.next {
  margin-rigt: 10%;
  text-align: right; }

/*# sourceMappingURL=main.css.map */
